node_modules/
.vscode
.turbo/
.codex
.env
dist/
package-lock.json
.pnpm-debug.log
coverage
*.tsbuildinfo

# custom
.readdy/
readdy/
Readdy/
archive/
ignores/
csv/
test/
debug/
codex/
unused-dummy-files.txt
/data/

# typescript dotfills
**/.*.ts
**/.*.tsx

# backend sample data
samples/
legacy/
**/legacy/
