@import 'tailwindcss';

@theme {
  --font-malgun: 'Malgun Gothic', sans-serif;
  --font-mixed: 'JetBrains Mono', 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: 'Malgun Gothic';
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
